<!DOCTYPE html>

<head>
    <title>Cook Assistant - Category</title>
</head>

<body>
    <h1><%= category.name %></h1>
    <form method="post" action="/delete-category/<%= category.id %>">
        <button>Delete Category</button>
    </form>
    <h2>Recipes</h2>
    <% recipes.forEach((recipe) => { %>
        <a href="/recipe/<%= recipe.id %>">
            <%= recipe.name %>
        </a>
        <br />
    <% }); %>
    <form method="post" action="/create-recipe">
        <h2>Create Recipe</h2>
        <input name="categoryId" type="hidden" value="<%= category.id %>" />
        <label>Name</label>
        <input name="name" />
        <br />
        <button>Submit</button>
    </form>
</body>

</html>